@import "../../variables.css";

.badge {
  text-transform: uppercase;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1.5rem;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));

  .tooltip {
    font-size: 0.5rem;
  }

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: var(--pixel-corners-sm);
  }

  .icon {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: contain;
    display: block;
  }

  .strength,
  .weak,
  .stab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    color: black;
    padding: 0.5em;
    font-size: 0.8em;
    border-radius: 1em;
    position: absolute;
    letter-spacing: -0.1rem;
  }

  .strength {
    bottom: 60%;
    left: 85%;
  }

  .weak {
    top: 60%;
    right: 85%;
  }

  .stab {
    font-size: 0.7em;
    background-color: rgb(60, 118, 217);
    top: 60%;
    left: 85%;
  }

  &.big {
    padding: 0.3rem 0.7rem;
    color: white !important;
    width: fit-content;
    height: fit-content;
  }
}