@import "/src/mixins/card.module.css";
@import "/src/variables.css";
@import "/src/mixins/animations.module.css";

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;
  column-gap: 1rem;
  row-gap: 0.5rem;
  font-size: 0.6rem;
  padding: 0.7rem;
  filter: drop-shadow(5px 5px 5px 50px black);
  position: relative;

  .name {
    font-size: 1.1em;
  }

  .background {
    @mixin card;
    clip-path: var(--pixel-corners-sm);
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 1);
  }

  .removeBtn {
    background-color: red;
    border: none;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    filter: brightness(75%) opacity(85%);

    svg {
      font-size: 1rem;
    }
  }

  &:has(.removeBtn) {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }

  .badge {
    grid-row: span 2;
  }

  .info {
    display: flex;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 1rem;
    flex-wrap: wrap;

    .value {
      font-size: 1em;
      column-gap: 0.1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 0.7rem;
      }

      &.ko {
        svg {
          color: rgb(208, 52, 52);
        }
      }
    }
  }

  &.weak {
    column-gap: 1.7rem;
  }

  &.open {
    padding-top: 1rem;
    row-gap: 1rem;
    grid-template-columns: auto 1fr 1fr;

    .description {
      grid-column: span 3;
      justify-self: normal;
    }

    .badge {
      grid-row: auto;
    }

    .value {
      font-size: 0.7rem;
    }
  }
}

.title {
  text-transform: capitalize;
}
 
.attacker {
  grid-template-columns: auto 1fr;
  gap: 0;
  row-gap: 0.5em;

  .attack {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: center;
    column-gap: 1rem;
    padding-top: 0.7rem;
  }

  .title {
    font-size: 1.5em;
  }

  .info {
    font-size: 1.2em;
  }

  .description {
    padding-top: 1em;
  }

  .badge {
    margin-left: 2em;
    div {
      width: 4em;
    }

  }

  .poketeam {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2em;

    .pokemon {
      padding: 0.5em;
      width: 6em;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 7em;
      }

      &.overpower {
        img {
          filter: drop-shadow(0 0 0.75rem crimson) !important;
        }
      }
    }

    .pokemonTitle {
       text-transform: capitalize;
       margin-top: -5%;
       font-size: 1em;
       width: 100%;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
    }
  }
}