@import "/src/mixins/card.module.css";
@import "/src/variables.css";

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;
  column-gap: 1rem;
  row-gap: 0.5rem;
  font-size: 0.6rem;
  padding: 0.7rem;
  filter: drop-shadow(5px 5px 5px 50px black);
  position: relative;

  .background {
    @mixin card;
    clip-path: var(--pixel-corners-sm);
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 1);
  }

  .badge {
    grid-row: span 2;
  }

  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;

    .value {
      font-size: 0.5rem;
      column-gap: 0.1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 0.7rem;
      }

      &.ko {
        svg {
          color: rgb(208, 52, 52);
        }
      }
    }
  }

  &.weak {
    column-gap: 1.7rem;
  }

  &.open {
    padding-top: 1rem;
    row-gap: 1rem;
    grid-template-columns: auto 1fr 1fr;

    .description {
      grid-column: span 3;
      justify-self: normal;
    }

    .badge {
      grid-row: auto;
    }

    .value {
      font-size: 0.7rem;
    }
  }
}

.title {
  text-transform: capitalize;
}