@import "/src/mixins/tooltip.module.css";

.container {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  &.weak {
    column-gap: 2rem;
  }

  &.open {
    padding-top: 1rem;
  }

  .tooltip {
    @mixin tooltip;
  }
}

.title {
  text-transform: capitalize;
  font-size: 0.6rem;
}