@import "../../variables.css";

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 100;
  display: grid;
  place-content: center;
  border: none;

  .content {
    padding: 5em;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    filter: brightness(80%);

    .background {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
      background-color: white;
      clip-path: var(--pixel-corners-md);
    }

    .closeButton {
      position: absolute;
      top: 1em;
      right: 1em;
      background: rgba(0, 0, 0, 0.1);
      border: none;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: grid;
      place-content: center;
      cursor: pointer;
      color: var(--dark-grey);
      z-index: 10;
      transition: background-color 0.2s, transform 0.2s;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.95);
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .icon {
      font-size: 5rem;
      align-self: center;
    }

    input {
      width: 100%;
      font-size: 1.3rem;
      border: 1px solid black;
    }
  }
}