@import "../../mixins/card.module.css";
@import "../../variables.css";

.container {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 0.3rem;
  gap: 1rem;
  flex-direction: column;

  &.open {
    display: flex;
  }
}

.addBtn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.7rem;
  font-family: var(--display-font);

  &:hover {
    text-decoration: underline;
  }
}