@import "../../variables.css";

.card {
  color: black;
  display: flex;
  align-items: center;
  display: flex;
  height: 5rem;
  width: auto;
  position: relative;
  overflow: visible;
  font-size: 0.7rem;

  .background {
    filter: opacity(0.8) blur(1em);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    clip-path: var(--pixel-corners-md);
    box-shadow: inset 0px 0px 5px -3px white;
  }

  img {
    margin-left: 0.5rem;
    padding-bottom: 1rem;
    height: 170%;
    margin-top: -5%;
    object-fit: contain;
    z-index: 10;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    h1 {
      text-transform: capitalize;
    }

    .types {
      column-gap: 0.5rem;
      display: flex;
    }
  }

  &.void {
    display: grid;
    place-content: center;
    cursor: pointer;

    .background {
      filter: opacity(0.2) blur(1em);
    }

    svg {
      color: white;
      filter: opacity(0.6);
      font-size: 4em;
    }

    &:hover {
      .background {
        filter: opacity(0.4);
      }
    }
  }
}