@import "/src/variables.css";
@import "/src/mixins/card.module.css";

.card,
.fullCard {
  position: relative;
  color: black;
  margin: 1em;

  .background {
    @mixin card;
    clip-path: var(--pixel-corners-md);
    box-shadow: inset 0px 0px 5px -3px white;
  }

  &:hover:not(.open) {
    .background {
      filter: var(--card-filters) opacity(0.9);
    }
  }

  .sprite {
    filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.2));
  }

  .menu {
    position: absolute;
    background-color: gray;
    filter: opacity(0);
    padding: 0.5rem;
    right: -1em;
    top: -1em;
    transition: all ease-in-out 0.2s;
  }

  &:hover .menu {
    cursor: pointer;
    filter: brightness(50%) opacity(85%);
    right: 0;
    top: 0;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 5rem;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  font-size: 0.8rem;

  .number {
    position: absolute;
    z-index: -1;
    font-family: system-ui;
    top: 10%;
    font-weight: 700;
    font-size: 5em;
    margin-inline: 0.5rem;
    filter: opacity(0.6) brightness(120%);
  }

  .sprite {
    margin-left: 0.5rem;
    width: 90%;
    margin-top: -30%;
    object-fit: contain;
    z-index: 10;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    h1 {
      text-transform: capitalize;
    }

    .types {
      column-gap: 2em;
      padding-inline: 0.5em;
      display: flex;
    }
  }

  &.void {
    height: 5rem;
    grid-template-columns: 1fr;
    justify-items: center;
    cursor: pointer;

    .background {
      filter: opacity(0.2) blur(1em);
    }

    svg {
      color: white;
      filter: opacity(0.6);
      font-size: 4em;
    }

    &:hover {
      .background {
        filter: opacity(0.4);
      }
    }
  }

  &.open {
    .sprite {
      margin: 0;
      width: 100%;
      padding: 0;
    }
  }
}

.fullCard {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 2em;
    row-gap: 1em;
    justify-items: center;
  }

  .info {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;

    .sprite {
      width: 70%;
      object-fit: contain;
    }

    .content {
      display: flex;
      flex-direction: column;
      row-gap: 1em;
      align-items: center;

      h1 {
        text-align: center;
        text-transform: capitalize;
        color: brown;
      }

      .types {
        column-gap: 0.5rem;
        display: flex;
      }
    }
  }

  .weakness {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: fit-content;
    column-gap: 4rem;
    row-gap: 1rem;
  }
}