@import "../../variables.css";

.search {
  width: 100%;
  position: relative;
  z-index: 999;

  .input {
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }

  .suggestions {
    color: var(--background-color);
    background-color: white;
    max-height: 12rem;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    border: 1px solid black;
    border-top: none;
    left: 0;
    outline: none;

    button {
      padding: 0.7rem 1rem;
      text-transform: capitalize;
      background: none;
      border: none;
      text-align: start;
      cursor: pointer;
      outline: none;
      color: var(--background-color);

      &:hover,
      &.focus {
        background-color: rgba(0, 0, 0, 0.05);
        font-weight: 700;
      }
    }
  }
}