@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "./variables.css";

:root {
  font-family: var(--display-font);
  background-image: radial-gradient(circle, #161311, #151210, #14110f, #12100e, #110f0d);
  color: var(--font-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}