@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "./variables.css";

:root {
  font-family: var(--display-font);
  background-color: var(--background-color);
  color: var(--font-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}